<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
    <display-name>chap05</display-name>
    <welcome-file-list>
        <!-- 생략 -->
    </welcome-file-list>
    <!-- 파라미터 값 작성-->
    <context-param>
        <param-name>Driver</param-name>
        <param-value>org.mariadb.jdbc.Driver</param-value>   <!-- 연결할 드라이버 이름 -->
    </context-param>
    <context-param>
        <param-name>URL</param-name>
        <param-value>jdbc:mariadb://localhost:3306/JSP</param-value> <!-- 접속할 URL : mariadb의 포트번호 3306 -->
    </context-param>
    <context-param>
        <param-name>dbId</param-name>      <!-- 연결할 DB의 아이디 정보 -->
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPwd</param-name>    <!-- 연결할 DB의 비밀번호 정보 -->
        <param-value>1234</param-value>
    </context-param>
</web-app>